{% extends "store/base.html" %} {% block title %}About Us{% endblock title %}
<!--  -->{% block header %} {% endblock %} {% block body %}
<!-- CSS here -->

{% load static %}
<!-- <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/owl.carousel.min.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/flaticon.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/slicknav.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/animate.min.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/magnific-popup.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/fontawesome-all.min.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/themify-icons.css" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/slick.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'store/css/nice-select.css' %}" /> -->
<link rel="stylesheet" href="{% static 'store/css/style.css' %}" />

<!-- Hero Area Start-->
<!-- <img src="{% static 'store/assets/img/about_hero.png' %}" /> -->

<!-- <div class="slider-area">
  <div class="single-slider slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>About Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Hero Area End-->

<!-- About Details Start -->
<div class="about-details section-padding30">

    <div class="container">
        <h4 class="fs-1 text-center text-decoration-underline fw-bolder">Our Mission</h4>
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Our Mission</h4>
                    <p>
                        Creating a Slendid Platform for students and devlopers to earn money from their code that might
                        be just sitting on their computer useless but is useful for others.
                        Devlopers who might be making a bigger project can use small templates or libraries written by
                        others to sav their time .
                    </p>
                    <p>
                        Companies can also get templates to save their own cost of devloping that system again. The list
                        goes on...
                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>Our Vision</h4>
                    <p>
                        In next few years , we will devlop an entire community based on Porgramming and connect
                        hundereds of college students or delopers to help each other out. This platform might become a
                        revenue source for many individuals .
                    </p>
                    <p>
                        Features like blogs , meetings will be added soon. The diversity of the platform will be huge.
                        To help us continue building our startup you can help us by &nbsp;</p>
                    <a href="../donations">Donations</a>.

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Details End -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h2>Team</h2>
            <p>Our hard working team</p>
        </header>

        <div class="row gy-4">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'store/assets/img/team/team-1.jpeg' %}" class="img-fluid" alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Akshit Kumar Lall</h4>
                        <span>Founder & CEO</span>
                        <p>
                            He is the creator of the Company and due to him the company
                            exists.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'store/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <p>
                            Vero omnis enim consequatur. Voluptas consectetur unde qui
                            molestiae deserunt. Voluptates enim aut architecto porro
                            aspernatur molestiae modi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'store/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <p>
                            Vero omnis enim consequatur. Voluptas consectetur unde qui
                            molestiae deserunt. Voluptates enim aut architecto porro
                            aspernatur molestiae modi.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="{% static 'store/assets/img/team/team-4.jpg' %}" class="img-fluid" alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                        <p>
                            Rerum voluptate non adipisci animi distinctio et deserunt amet
                            voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Section -->

{% endblock body %}